<link rel="stylesheet" href="/static/css/alert-modal.css">
<div class="modal fade" id="customAlertModal" tabindex="-1"
     aria-labelledby="customAlertLabel" aria-hidden="true"
     data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="custom-modal-header" class="modal-header" style="border-bottom: none;">
                <h5 class="modal-title" id="customAlertLabel">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        onclick="deactivateModal('customAlertModal')"></button>
            </div>
            <div class="modal-body custom-modal-body">
                <div class="custom-alert-content" id="customAlertContent">

                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                onclick="deactivateModal('customAlertModal')">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
