
<!-- Profile Header -->
<link rel="stylesheet" href="/static/css/profile-header.css">

<div class="header-container">
    <div class="d-flex align-items-center">
        <!-- Profile Picture -->
        <div class="profile-picture me-3">
            <img src="{{ user.avatar_url }}"
                 class="rounded-circle"
                 alt="Profile Picture"
                 style="width: 212px; height: 212px">
        </div>
        <!-- Profile Information -->
        <div class="profile-info">
            <div class="user-info-row">
                <h3 class="mb-0">{{ user.username }}</h3>
                <small class="text-muted">{{ user.name }}</small>
            </div>

            <div class="mt-2">
                {% if session['user']['id'] == user.id | string %}
                    {% include "user/profile/modals/edit-profile.html" %}

                    <button data-bs-toggle="modal" data-bs-target="#user-edit-popup"
                            class="TUX-button" type="button"
                            data-id="{{ user.id|string }}"
                            data-name="{{ user.name }}"
                            data-username="{{ user.username }}"
                            data-email="{{ user.email }}"
                            data-dob="{{ user.date_of_birth }}"
                            data-avt="{{ user.avatar_url }}">
                        Chỉnh sửa
                    </button>
                {% else %}
                    <input type="hidden" id="following-id" value="{{ user.id }}">
                    {% if follow_status %}
                        <button onclick=deleteFollow(event)
                                class="TUX-button" type="button"
                                data-id="{{ user.id|string }}">
                            Hủy theo dõi
                        </button>
                    {% else %}
                        <button onclick=createFollow(event)
                                class="TUX-button" type="button"
                                data-id="{{ user.id|string }}">
                            Theo dõi
                        </button>
                    {% endif %}
                {% endif %}
            </div>

            <div class="user-follow-row">
                <div class="user-follow-item">
                    <strong id="follower_count">{{ user.followers_count }}</strong>
                    <span data-bs-toggle="modal"
                          data-bs-target="#user-follow-popup"
                          data-flag="follower"
                          onclick="toggleFollow(event)" class = "user-follow-info">Follower</span>
                </div>
                <div class="user-follow-item">
                    <strong>{{ user.following_count }}</strong>
                    <span data-bs-toggle="modal"
                          data-bs-target="#user-follow-popup"
                          data-flag="following"
                          onclick="toggleFollow(event)" class = "user-follow-info">Đang Follow</span>
                </div>
            </div>
            {% include "user/profile/modals/follow.html" %}

            <div class="mt-2 text-muted">
                {% if user.bio %}
                    {{ user.bio }}
                {% else %}
                    Chưa có tiểu sử
                {% endif %}
            </div>

        </div>
    </div>

    <div class="custom-tab-container">
        <a href="{{ url_for('user.profile.get_profile', user_id=user.id | string) }}" class="tab-link">
            <i class="fas fa-home"></i> Home
        </a>
        <!-- Moving underline -->
        <div class="underline"></div>
    </div>
</div>


<script>
    let user = {{  user.to_dict() | safe }}
    let session_user = {{ session['user']|tojson }}
</script>
<script src="/static/js/user/profile/load.js"></script>
<script src="/static/js/user/profile/follow.js"></script>