<link rel="stylesheet" href="/static/css/profile-footer.css">
<div class="button-section">
    <div class="button-line contentSpacing">
        <div class="button-line-small">
            <div class="button-container">
                <button class="tablink" onclick="openPage('Latest', this, 'black', 'white')" id="defaultOpen">
                    <span class="tabLinkText">Gần nhất</span>
                </button>
                <button class="tablink" onclick="openPage('Popular', this, 'black', 'white')">
                    <span class="tabLinkText">Phổ biến</span>
                </button>
                <button class="tablink" onclick="openPage('Oldest', this, 'black', 'white')">
                    <span class="tabLinkText">Cũ nhất</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="Latest" class="tabcontent">
    <main id="video-section">
        {% for video in video_latest %}
        <div class="video-container" id="video-{{ video.id }}">
            <a href="{{ url_for('home.watch', video_id=video.id) }}">
                <img src=
                             "{{ video.thumbnail_url }}"
                     id="image-1"
                     class="images">
            </a>
            <div class="video-description">
                <div class="channel-dp-container-2">
                    <img src=
                                 "{{ user.avatar_url }}"
                         class="channel-dp-2">
                </div>
                <div class="video-details">
                    <a
                       class="video-title">
                        {{ video.title }}
                    </a>
                    <div class="channel-name">
                        <a
                           class="views">
                            {{ video.like_count }} likes
                        </a>
                        <i class="fas fa-circle"></i>
                        <a
                           class="time">
                            {{ video.created_at }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
</div>
<div id="Popular" class="tabcontent">
    <main id="video-section">
        {% for video in video_popular %}
            <div class="video-container" id="video-{{ video.id }}">
                <img src=
                             "{{ video.thumbnail_url }}"
                     id="image-1"
                     class="images">
                <div class="video-description">
                    <div class="channel-dp-container-2">
                        <img src=
                                     "{{ user.avatar_url }}"
                             class="channel-dp-2">
                    </div>
                    <div class="video-details">
                        <a
                                class="video-title">
                            {{ video.title }}
                        </a>
                        <div class="channel-name">
                            <a
                                    class="views">
                                {{ video.like_count }} likes
                            </a>
                            <i class="fas fa-circle"></i>
                            <a
                                    class="time">
                                {{ video.created_at }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
</div>
<div id="Oldest" class="tabcontent">
    <main id="video-section">
        {% for video in video_oldest %}
            <div class="video-container" id="video-{{ video.id }}">
                <img src=
                             "{{ video.thumbnail_url }}"
                     id="image-1"
                     class="images">
                <div class="video-description">
                    <div class="channel-dp-container-2">
                        <img src=
                                     "{{ user.avatar_url }}"
                             class="channel-dp-2">
                    </div>
                    <div class="video-details">
                        <a
                                class="video-title">
                            {{ video.title }}
                        </a>
                        <div class="channel-name">
                            <a
                                    class="views">
                                {{ video.like_count }} likes
                            </a>
                            <i class="fas fa-circle"></i>
                            <a
                                    class="time">
                                {{ video.created_at }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
</div>
<script src="/static/js/user/profile/profile-footer.js"></script>