<div id="login-popup" tabindex="-1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center mb-4">
                    <p class="h4 fw-semibold">Login to your account</p>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul>
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <form method="POST" action="{{ url_for('auth.login') }}">
                    {{ login_form.hidden_tag() }}

                    <div class="mb-3">
                        {{ login_form.email(class="form-control", id="email", placeholder="Email") }}
                    </div>
                    <div class="mb-3">
                        {{ login_form.password(class="form-control", id="password", placeholder="Password") }}
                    </div>

                    <p class="mb-3 small">
                        <a href="/forgot-password" class="text-primary">Reset your password?</a>
                    </p>
                    <button class="btn btn-primary w-100">
                        {{ login_form.submit(class="btn btn-primary", id="submit-login-btn") }}
                    </button>
                </form>

                <div class="d-flex align-items-center my-4">
                    <hr class="flex-grow-1">
                    <span class="px-2 text-muted">OR</span>
                    <hr class="flex-grow-1">
                </div>

                <div class="d-grid gap-2 mb-3">
                    <a href="{{ url_for('auth.google.login') }}" class="btn btn-primary d-flex align-items-center justify-content-center">
                        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="me-2" width="18" height="18">
                        Continue with Google
                    </a>
                </div>

                <div class="mt-4 text-center small">
                    Don't have an account?
                    <a data-bs-toggle="modal" data-bs-target="#register-popup"
                       class="text-primary">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>

{#{% include 'auth/modals/register.html' %}#}
{#<script src="/static/js/auth/auth-popup.js"></script>#}