<div id="register-popup" tabindex="-1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
{#            <div class="modal-header">#}
{#                <h5 class="modal-title">Register your account</h5>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#            </div>#}
            <div class="modal-body p-4">
                <div class="text-center mb-4">
                    <p class="h4 fw-semibold">Register your account</p>
                </div>
                <form method="POST" action="{{ url_for('auth.register') }}">
                    {{ register_form.hidden_tag() }}

                    <div class="mb-3">
                        {{ register_form.name(class="form-control", id="name", placeholder="Họ và tên") }}
                    </div>

                    <div class="mb-3">
                        {{ register_form.email(class="form-control", id="email", placeholder="Email") }}
                    </div>

                    <div class="mb-3">
                        {{ register_form.date_of_birth(class="form-control", id="date_of_birth", type="date") }}
                    </div>
                    <div class="mb-3">
                        {{ register_form.password(class="form-control", id="password", placeholder="Mật khẩu") }}
                    </div>
                    <div class="d-grid">
                        {{ register_form.submit(class="btn btn-primary") }}
                    </div>
                    <div class="d-flex align-items-center my-4">
                        <hr class="flex-grow-1">
                        <span class="px-2 text-muted">OR</span>
                        <hr class="flex-grow-1">
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <a href="{{ url_for('auth.google.register') }}"
                           class="btn btn-primary d-flex align-items-center justify-content-center">
                            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="me-2"
                                 width="18" height="18">
                            Continue with Google
                        </a>
                    </div>
                </form>
                <div class="mt-4 text-center small">
                    Already have an account <a data-bs-toggle="modal" data-bs-target="#login-popup"
                                               class="text-primary">Log in</a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/auth/auth-popup.js') }}"></script>