{% extends "user/layout.html" %}
{% block user_content %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="/static/css/music-play.css">
<div class="layout">
    <div class="container">
        <div class="player">

            <div class="details">
                <img class="track-art" style="object-fit: cover" src="{{ music.thumbnail_url }}" alt="Thumbnail" />
                <div class="track-name">{{ music.name }}</div>
                {% for artist in music.artists %}
                <div class="track-artist">{{ artist.nickname }}</div>
                {% endfor %}
            </div>
            <input type="hidden" id="audio-source" value="{{ music.audio_url }}" />

            <div class="buttons">
                <div class="playpause-track" onclick="playpauseTrack()">
                    <i class="fa fa-play-circle fa-5x"></i>
                </div>
            </div>

            <!-- Define the section for displaying the seek slider-->
            <div class="slider_container">
                <div class="current-time">00:00</div>
                <input type="range" min="0" max="100"
                       value="0" class="seek_slider" onchange="seekTo()">
                <div class="total-duration">00:00</div>
            </div>

            <!-- Define the section for displaying the volume slider-->
            <div class="slider_container">
                <i class="fa fa-volume-down"></i>
                <input type="range" min="1" max="100"
                       value="99" class="volume_slider" onchange="setVolume()">
                <i class="fa fa-volume-up"></i>
            </div>
            <div class="slider-container" style="height:50px">
                <label for="lyrics-toggle">
                    <input type="checkbox" id="lyrics-toggle" onchange="toggleLyrics()">
                    <span class="slider-text">Lyrics</span>
                </label>
            </div>
        </div>
    </div>
    <div class="lyrics-tab hidden">
        <div class="lyrics-content">
            <!-- Lyrics will be dynamically rendered here -->
        </div>
    </div>
</div>
<script>
    let lyrics = {{ lyric_results | safe }}
</script>
<!-- Load the main script for the player -->
<script src="/static/js/user/music/music-play.js"></script>
{% endblock %}