{% extends "user/layout.html" %}
{% block user_content %}
    <h1>Danh sách video</h1>
    <button class="btn btn-success" type="button" onclick="window.location.href='{{ url_for('user.video.add') }}';">
        Thêm
    </button>
    <div class="card-container">
        {% for video in videos %}
            <div class="card">
                <img src="" alt="Video Thumbnail">
                <div class="card-body">
                    <h2 class="card-title">{{ video.title }}</h2>
                    <p class="card-description">{{ video.description }}</p>
                </div>
                <div class="card-footer">
                    Posted by: <strong>{{ video.user.fetch().username }}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}