<nav class="mt-4">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/user/index" class="nav-link d-flex align-items-center text-dark">
                <img class="me-2" src="/static/svg/icons8-home-black.svg" alt="Like" width="30" height="30">
                Trang chủ
            </a>
        </li>
        {% if session['user'] %}
        <li class="nav-item">
            <a href="{{ url_for('user.video.list',user_id=session['user']['id']) }}" class="nav-link d-flex align-items-center text-dark">
                <img class="me-2" src="/static/svg/video.svg" alt="Like" width="30" height="30">
                Video của bạn
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="#" class="nav-link d-flex align-items-center text-dark">
                <img class="me-2" src="/static/svg/settings-non.svg" alt="Like" width="30" height="30">
                Cài đặt
            </a>
        </li>
    </ul>
</nav>
