<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YourTube{% endblock %}</title>
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">#}
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">
</head>

<body class="d-flex min-vh-100 bg-light">

{% block content %}{% endblock %}
<script src="/static/dist/js/axios.min.js"></script>
<script src="/static/dist/js/bootstrap.min.js"></script>
<script src="/static/js/config.js"></script>
</body>
</html>
