<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YOURTUBE{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/static/image/kara.ico">
    <script src="/static/dist/js/axios.min.js"></script>
    <script src="/static/dist/js/jquery.min.js"></script>
</head>

<body class="d-flex min-vh-100 bg-light">
{% block content %}


{% endblock %}
<script src="/static/dist/js/popper.min.js"></script>
<script src="/static/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>