<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOURTUBE</title>
    {#  bootstrap:css #}
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    {# bootstrap:icon:css #}
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    {# fontawesome:css #}
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css"/>
    {# custome css #}
    <link rel="stylesheet" href="/static/css/style.css">
    {# favicon #}
    <link rel="icon" href="/static/image/kara.ico">
    {# html2canvas #}
    <link rel="stylesheet" href="/node_modules/html2canvas/dist/html2canvas.min.js">
    {# axios #}
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    {# jquery #}
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    {# socket.io #}
    <script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
    {# bootstrap js #}
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {# sweetAlert2 #}
    <link rel="stylesheet" href="/node_modules/sweetalert2/dist/sweetalert2.min.css">
    <script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    {# js-cookies #}
    <script src="/node_modules/js-cookie/dist/js.cookie.min.js"></script>
    {# custom js #}
    <script src="/static/js/route.js"></script>
    <script src="/static/js/base.js/"></script>
    <script src="/static/js/util/task_util.js"></script>
    <script src="/static/js/task_handle.js/"></script>
</head>

<body class="d-flex min-vh-100 bg-light" style="padding-top: 50px;">

{% include 'components/alert-modal.html' %}
{% block content %}

{% endblock %}

</body>
</html>